{% extends 'base.html.twig' %}

{% block title %}Mon Panier !{% endblock %}
{% block gest %}{% endblock  %}
{% block login %}{% endblock %}

{% block body %}

<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">
    <div class="titres">
        <a href="{{ path('catalogue') }}"> <i class="fa-solid fa-arrow-left"></i>  RETOUR VERS CATALOGUE</a>
        <h5 class="titres1">
            Votre panier 
        </h5>
    </div>
    <div class="contenue ">
        {% if item | length > 0 %}

            <div class="partie3 mt-4">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                        <th></th>
                        

                    </tr>
                    </thead>
                    <tbody>
                        {% for item in item %}
                        <tr>
                            <td>{{ item. burger.nom}}</td>
                            <td>{{ item. burger.prix}}  Fcfa</td>
                            <td><form method="post" action="/add_panier/burger/quantite/" data-var="" class="-df -i-ctr -pr -mla" data-track-onsubmit="addToCart">
                                <button type="button" class="btn" id=" qt-plus" aria-label="diminuer la quantité panier" data-submit="" name="action" value="de">
                                    <i class="fa-solid fa-minus"></i>

                                </button>
                                <span class="-w-32 -mas -m -fs14 -tac -lh-1">{{ item. quantite}}</span>
                                <button type="button" class="btn" id="qt-minus " aria-label="augmenter la quantité panier" data-submit="" name="action" value="in">
                                    <i class="fas fa-add"></i>

                                </button>
                                <input name="quantite" value="" type="hidden">
                            </form> 

                            </td>
                            
                            <td>{{item.burger.prix * item.quantite}} Fcfa</td>
                            <td>
                                <a href="{{ path('remove',{'id':item.burger.id})}}" class="btn btn-info btn-sm"> <i class="fas fa-trash"></i> </a>
                            </td>

                        </tr>   
                        {% endfor %}
                    
                
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total :</td>
                            <td>{{total}}</td>
                            <td></td>
                        </tr>

                    </tfoot>

                </table>
                {# {% if is_granted ('IS_A') %}

                <a href="{{ path('ajout_commande') }}" class="btn btn-primary"  role="button" aria-disabled="true">VALIDER UNE COMMANDE</a> 

                {% elseif is_granted ('IS_AUTHENTICATED_FULLY') %}

                <a href="{{ path('app_login') }}" class="btn btn-primary"  role="button" aria-disabled="true">PASSER UNE COMMANDE</a> 


                
            {% endif %} #}
            {# <a href="{{ path('ajout_commande') }}" class="btn btn-primary"  role="button" aria-disabled="true">PASSER UNE COMMANDE</a> #}
            <form method="post" action="">
                
                <button type="submit" class="btn btn-primary">VALIDER COMMANDE</button>


            </form>


            </div>


        
        {% else %}
            <h3> Votre panier esr vide!</h3>
            <p>Veillez le remplir !</p>
        
        {% endif %}




        
    </div>






</body>

{% endblock %}
