{% extends 'base.html.twig' %}

{% block title %}Mon Panier !{% endblock %}
{% block gest %}{% endblock  %}
{% block login %}{% endblock %}

{% block body %}

<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">
    <div class="titres">
        <a href="{{ path('catalogue') }}"> <i class="fa-solid fa-arrow-left"></i>  RETOUR VERS CATALOGUE</a>
        <h5 class="titres1">
            Votre panier 
        </h5>
    </div>
    <div class="contenue " style="height:344px ;">
        {% if item | length > 0 %}

            <div class="partie3 mt-4">
                <table class="table table-hover table-responsive-xl">
                    <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Total</th>
                        <th></th>
                        

                    </tr>
                    </thead>
                    <tbody>
                        {% for item in item %}
                        <tr>
                            <td>{{ item. burger.nom}}</td>
                            <td>{{ item. burger.prix}}  Fcfa</td>
                            <td>
                                <a class="moins" id="" href="{{path('moins', {'id':item.burger.id ~ item.burger.type})}}"><i class="fa-solid fa-minus"></i></a>
                                {{item.quantite}}
                                <a class="plus" id="" href="{{path('plus', {'id':item.burger.id ~ item.burger.type})}}"><i class="fa-solid fa-plus"></i></a>

                            </td>
                            
                            <td>{{item.burger.prix * item.quantite}} Fcfa</td>
                            <td>
                                <a href="{{path('remove', {'id':item.burger.id ~ item.burger.type})}}" class="btn  btn-sm" style="background-color:#efefef;"> <i class="fas fa-trash" style="color:black ; padding:7px;"></i> </a>
                            </td>

                        </tr>   
                        {% endfor %}
                    
                
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total :</td>
                            <td>{{total}} Fcfa</td>
                            <td></td>
                        </tr>

                    </tfoot>

                </table>
                {# {% if is_granted ('IS_A') %}

                <a href="{{ path('ajout_commande') }}" class="btn btn-primary"  role="button" aria-disabled="true">VALIDER UNE COMMANDE</a> 

                {% elseif is_granted ('IS_AUTHENTICATED_FULLY') %}

                <a href="{{ path('app_login') }}" class="btn btn-primary"  role="button" aria-disabled="true">PASSER UNE COMMANDE</a> 


                
            {% endif %} #}
            {# <a href="{{ path('ajout_commande') }}" class="btn btn-primary"  role="button" aria-disabled="true">PASSER UNE COMMANDE</a> #}
            <form method="post" action="">
                
                <button type="submit" class="btn btn-primary" style="float:right">PASSER COMMANDE</button>


            </form>


            </div>


        
        {% else %}
            <h3 style="text-align: center ; margin:35px;"> Votre panier est vide!! </h3>
            <p style="text-align: center ;">Veuillez le remplir! </p>
        
        {% endif %}




        
    </div>






</body>

{% endblock %}
