


{% extends 'base.html.twig' %}

{% block title %}Les détails{% endblock %}


{% block body %}
{% block gest %}{% endblock  %}
{% block login %}{% endblock %}


<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">
    <div class="titres">
        <a href="{{ path('mes_commandes') }}"> <i class="fa-solid fa-arrow-left"></i>  RETOUR VERS MES COMMANDES</a>
        <h5 class="titres1" style="font-size:23px ;">
            Détails de la commande
        </h5>
    </div>
    

    <div class="contenue">
        {% for row in paiements %}
           
       

        <div class="Debuts">
            <div class="row mt-4">

                <div class="col-4">

                    <span>
                       <b>ÉTAT DE LA COMMANDE </b>                                                                                 <br><br>
                       
                    </span>
                    <span class="text-success">
                        {{row.etatcommande}}
                      </span>
                
                </div>
               <div class="col-5">
                   <span>
                   <b>RECETTE</b>                                                                                           <br><br>
                    </span> 
                    {{row.montant}} Fcfa
    
                </div>

            </div>
            
            
        </div>
        <!--Milieux-->
        <div class="Milieux">
            <h6><b>INFOS PRODUIT</b></h6>
            <div class="row mt-4">
                <div class="col-4">
                   
                    <img src="/images/commande.jpg" alt="jfugzurg" style="width: 100%;">
        
                                            
                </div>
               <div class="col-4 dets1" style="list-style: none; padding: 10px;">
                   
                <li><span> <b>Numéro commande:</b> {{row.numerocommande}}</span></li>
                {% for hhh in row.burger %}
                    <li> <span>
                       <b> Nom :</b> {{hhh.nom}}
                {% endfor %}
                        {% for hhh in row.menus %}
                       / {{hhh.nom}}
                    </span></li>
                    {% endfor %}
                  {# <li> <span>Type   :</span></li>  #}
                  <li> <span><b>Date:</b> {{row.datecommande}}</span></li> 

                </div>
                {# <div class="col-4">
                    <span>
                        {# Nombre commandé:   2                   
                    </span>
                
    
                </div> #}

            </div>
            

        </div>
        <!--Milieux-->


        <div class="Fin" style="list-style:none ;">


           <h6>INFOS CLIENT</h6>

           <li> <span><b>Téléphone: </b> {{row.telephonecommande}}</span></li> 
           

        </div>
        {% endfor %}
        <form action="{{path('details_commande')}}" method="post">
            <button type="submit" name="valider" value="ok" class="btn btn-primary" style="margin-left: 24px; margin-top: 53px;">Valider</button>
        </form>

  
       
    </div>

    

    



</body>

{% endblock body %}
