
{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}


{% block body %}
{% block gest %}{% endblock  %}

<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">

        <div class="titre">
            <div class="row" style="width:100%;">
                <div class="col-6 titre1 ">
                    <h4><b>Mes Commandes</b></h4>


                </div>
                {# <div class="col-6 titre2">
                    <button type="button" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="fa-solid fa-plus"></i>
                        NOUVELLE COMMANDE                      
                    </button>


                </div> #}
            </div>

        </div>

    <div class="container contenu">
        <div class="menu1">
            <div class="partie1">
                <ul>
                    <li><a href="#">Tout</a></li>
                    <li><a href="#">En cours</a></li>
                    <li><a href="#">Validées</a></li>
                    <li><a href="#">Payées</a></li>
                    <li><a href="#">Annulées</a></li>
    
                </ul>

            </div>
            <div class="partie2">
                <div class="row">
                    <div class="col-6">
                        <span class="span">
                            <p>4annulées</p>
                        </span>

                    </div>
                    <div class="col-6">

                    </div>

                </div>                

            </div>
            <div class="partie3">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Numéro Commande</th>
                        <th scope="col">Produits</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for item in commandes %}

                      <tr>
                        <th>{{item.numerocommande}}</th>
                        <td>
                            {% for row in item.burger %}
                                {{row.nom}}
                            {% endfor %}
                            {% for row in item.menus %}
                            {{row.nom}}
                            {% endfor %}
                        </td>
                        <td>{{item.telephonecommande}}</td>
                        <td>{{item.etatcommande}}</td>
                        <td>{{item.datecommande}}</td>
                        <td>{{item.datecommande}}</td>


                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>

            </div>

        </div>

    </div>



</body>

{% endblock body %}