


{% extends 'base.html.twig' %}

{% block title %}Les détails{% endblock %}

{% block client %}{% endblock  %}
{% block panier %}{% endblock  %}


{% block body %}




<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">
    <div class="titres">
        <a class="retour1" href="{{ path('produit') }}"> <i class="fa-solid fa-arrow-left"></i>  RETOUR VERS PRODUIT</a>
        <h6 class="titres13">
            Ajout Complément
        </h6>
    </div>
    <div class="contenues1">

        {{ form_start(complementForm) }}
            <div class="form-groupe">
                <div class="col">
                    {{ form_row(complementForm.nom , {'attr': {'placeholder': 'Tapez ici'} }) }}
                </div>
            </div>
            <div class="form-groupe">
                <div class="col">
                    {{ form_row(complementForm.prix , {'attr': {'placeholder': 'Tapez ici'} }) }}
                </div>
            </div>
            <div class="form-groupe">
                <div class="col">
                    {{ form_row(complementForm.detail , {'attr': {'placeholder': 'Tapez ici'} }) }}
                </div>
            </div>
            <div class="form-groupe file">
                <div class="col">
                    {{ form_label(complementForm.images, 'Choisir une image') }}
                    {{ form_row(complementForm.images) }}
                </div>
            </div>
            <div class="boutton_ajout">
                
                {# <a href="#" >Annuler</a> #}
                <button type="submit" class="btn btn-black mt-4 ">AJOUTER</button>         <br> <br>
        </div>



        {{ form_end(complementForm) }}




        

        
    </div>

    

    



</body>

{% endblock body %}
