


{% extends 'base.html.twig' %}

{% block title %}Les détails{% endblock %}

{% block client %}{% endblock  %}
{% block panier %}{% endblock  %}


{% block body %}




<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">
    <div class="titres11">
        <a href="{{ path('produit') }}"> <i class="fa-solid fa-arrow-left"></i>  RETOUR VERS PRODUIT</a>
        <h6 class="titres12">
            Ajout Burgers
        </h6>
    </div>
    <div class="contenues1 mt-4">
        

        {{ form_start(burgerForm) }}
            <div class="form-groupe">
                <div class="col">
                    {{ form_row(burgerForm.nom , {'attr': {'placeholder': 'Tapez ici'} }) }}
                </div>
            </div>
            <div class="form-groupe">
                <div class="col">
                    {{ form_row(burgerForm.prix , {'attr': {'placeholder': 'Tapez ici'} }) }}
                </div>
            </div>
            <div class="form-groupe">
                <div class="col">
                    {{ form_row(burgerForm.details , {'attr': {'placeholder': 'Tapez ici'} }) }}
                </div>
            </div>
            <div class="form-groupe file">
                <div class="col">
                    {{ form_label(burgerForm.images, 'Choisir une image') }}
                    {{ form_row(burgerForm.images) }}
                </div>
            </div>
            <div class="boutton_ajout">
                
                {# <a href="#" >Annuler</a> #}
                <button type="submit" class="btn btn-black mt-4 ">AJOUTER</button>         <br> <br>


            </div>


        {{ form_end(burgerForm) }}




        

        
    </div>

    

    



</body>

{% endblock body %}
