
{% extends 'base.html.twig' %}

{% block title %}Archives{% endblock %}

{# {% block client %}{% endblock  %}
{% block panier %}{% endblock  %}

 #}
 {% block client %}{% endblock  %}
 {% block panier %}{% endblock  %}


 {# {% block gest %}{{ parent() }}{% endblock  %} #}

{% block body %}

    {# {% if success is defined and success !='' %}
    <div id="message" class="    alert-success" role="alert">
        {{success}}
    </div>
    {% endif %}
    <span class="d-none">{{removeSucess}}</span> #}


<body style="background-color: #F7F7F7; justify-content:center;align-items:center;">
    <form action="{{path('imam')}}" method="post">

        <div class="titre">
            <div class="row" style="width:100%;">
                <div class="col-6 titre1 ">
                    <h4><b>Les Archives</b></h4>


                </div>
                {# <div class="col-6 titre2">
                    <button type="button" class="btn" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="fa-solid fa-plus"></i>
                        NOUVELLE COMMANDE                      
                    </button>


                </div> #}
            </div>

        </div>

    <div class="container contenu">
        <div class="menu1">
            <div class="partie1">
                <ul>
                    <li><a href="{{path('archive_menu')}}">Menus</a></li>
                    <li><a href="{{path('archive_burger')}}">Burgers</a></li>
                    <li><a href="{{path('archive_complement')}}">Complements</a></li>

                    

                   
    
                </ul>

            </div>
            <div class="partie2">
                <div class="row">
                    <div class="col-6">
                            <span class="span">
                                <p>Archives des menus</p>
                            </span>

                    </div>
                    <div class="col-6">

                    </div>

                </div>                

            </div>
                <div class="partie3">
                <table class="table table-hover table-responsive-xl">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align: center ;">Produits</th>
                        <th scope="col" style="text-align: center ;">Prix</th>
                        <th scope="col" style="text-align: center ;">Type</th>
                        <th scope="col" style="text-align: center ;">Etat</th>
                        <th scope="col" style="text-align: center ;"></th>



                      </tr>
                    </thead>
                    <tbody>
                      {% for item in burger %}

                      <tr>
                        
                        <td style="text-align: center ; padding: 20px;">
                           
                            {{item.nom}}
                        </td>
                        <td style="text-align: center ; padding: 20px;">
                            {{item.prix}} Fcfa
                        </td>
                        <td style="text-align: center ; padding: 20px;">
                           
                            {{item.type}}
                        </td>
                        

                        <td style="color:#197DFF ; text-align: center ; padding: 20px;">
                            <span class="text-primary">
                              {{item.etat}}
                            </span>
                            
                        </td>
                        
                        <td>
                            <div class="dropleft">
                              <a href="#" role="button" class="dropdown-toggle affiche" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/images/three3.png" alt="img" style="width: 22px ;"></a>
                              
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 2px; ">
                                <a class="dropdown-item" href="#">Désarchiver</a>
                                {# <a class="dropdown-item" href="{{path('valider_commande',{id:item.id})}}">Désarchiver</a> #}

            
                              </div>
                            </div>
                          </td>
                       

                      </tr>
                    </tbody>
                    {% endfor %}

                    
                  </table>
                  {# <a href="{{path('details_commande')}}" class="payer" role="button">Payer</a> #}
                  {# <button class="btn btn-primary" style="margin-left: 24px;">Payer</button> #}
                  {# <div class="pagination justify-content-end" style="margin-right: 59px; margin-top:-34px;">
                      {{ knp_pagination_render(commandes)}}
                  </div> #}

                </div>
                
                    
        
                

        </div>
        
       

    </div>
    </form>




</body>

{% endblock body %}