{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}


{% block client %}{% endblock  %}
{% block panier %}{% endblock  %}


{% block body %}
    
    <body style="background-color: #F7F7F7; justify-content:center;align-items:center;">

        <div class="row">
            <div class=" col-6 titre">
            
                <div class="prod">
                    <h4><b>Produits</b></h4>


                </div>

            </div>
            <div class="dropdown col-md-4 produits">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-plus"></i>

                    NOUVEAU PRODUIT
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{ path('ajout_produit') }}">Ajout Burger</a>
                  <a class="dropdown-item" href="{{ path('ajout_complement') }}">Ajout Menus</a>
                  <a class="dropdown-item" href="{{ path('ajout_menu') }}">Ajout Complement</a>
                </div>
            </div>

        </div>
        <div class="contenu3 container" style="background: #FFFFFF 0% 0% no-repeat padding-box; width: 908px;">
            <div class="menu_produit">
                <ul>
                    <li><a href="{{path('produit')}}">Tout</a></li>
                    <li><a href="{{path('liste_menus')}}">Menus</a></li>
                    <li><a href="{{path('liste_burgers')}}">Burgers</a></li>
                    <li><a href="{{path('liste_complement')}}">Complements</a></li>
    
                </ul>

            </div>
            
                <div class="">
                    <span class="span">
                        <p>20 Produits</p>
                    </span>
                </div>
                
                <div class=" select">

                    <select name="" id="">
                        <option value="">Type de produit</option>
                    </select>

                    <select name="" id="">
                        <option value="">Date d'ajout</option>
                    </select>


                </div>

            

        </div>
        
        <div class="container contenu2 mx-auto mt-4">
            <div class="row" style=" margin-right: 105px; margin-left: 90px;">
                {% for menus in menus %}
                {% for image in menus.imagess %}

                <div class=" col col-md-4">
                    <div class="card" style="width: 300px;  display:flex ;">
                        <img src="{{'/images/' ~ image.nom}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{menus.nom}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Menu .  {{menus.prix}} Fcfa</h6>
                            <a class="panier" href="#" style="color: #FF9D19 ;"><i class="fa-solid fa-box-archive"></i>Archiver</a>

                            <a href="{{path('editer_menu',{'id':menus.id})}}" class="btn details " style="margin-left: 73px;"><i class="fa-solid fa-pen-to-square"></i></i> Modifier</a>         

                        </div>
                    </div>
              </div>    
           
              {% endfor %}
              {% endfor %}
            </div>
        </div>
       


    </body>

{% endblock %}